.icon  {
    float: left;
    margin: 10px;
}
.container {
    border: 2px solid black;
  padding: 25px;
}
/* body {
    background: url(https://i.imgur.com/xfSIRA8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
