.h1 {
    font-size:25px; 
    color:#538b01; 
    font-weight:bold; 
    font-style:italic;
}

.body {
    background-image:url(https://i.imgur.com/M344Z9V.png?1);
}
.icon  {
    float: left;
    margin: 10px;
}
